.SideBar
  .LeftTopItems
    .LeftTopItems__Info
      %p.LeftTopItems__Info__UserName ooni
      .LeftTopItems__Info__Icon
        - link_to "#"
        %i.far.fa-edit
        %i.fa.fa-cog
  .Group-List
    %ul
      %li.Group-List__Name techcamp
      %p.Group-List__Message まだメッセージがありません
      %li.Group-List__Name techcamp
      %p.Group-List__Message まだメッセージがありません
