$palette-trueWhite: #ffffff;
$palette-ofWhite: #fafafa;
$palette-trueBlack: #333333;
$palette-lightMid: #2f3e51;
$palette-darkMid: #253141;
$palette-sandGray:  #d2d2d2;
$palette-lightBlue:   #38aef0;

$LeftTopItems__Info-background: $palette-darkMid;
$Group-List-background: $palette-lightMid;
$RightTopItems-background: $palette-trueWhite;
$ChatRoom-background: $palette-ofWhite;
$BottomItems-background: $palette-sandGray;
$BottomItems__MessageForm-background: $palette-trueWhite;

$font-color-white:$palette-trueWhite;
$font-color-black:$palette-trueBlack;


