@import "reset";
@import "config/colors";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/user";
@import "modules/flash";
@import "modules/group";


html{
  height:100%;
}
body{
  height:100%;
}
.wrapper{
  display: flex;
  height: 100%;
}

.SideBar{
  height: 100%;
  width: 300px;
  .LeftTopItems{
    background-color: $LeftTopItems__Info-background;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__Info{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      color: $font-color-white;
      font-weight: bold;
      &__UserName{
        line-height: 20px;
      }
      &__Icon{
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .far.fa-edit{
          margin-right: 5px;
          cursor: pointer;
          color: $font-color-white;

        }
        .fa.fa-cog{
          cursor: pointer;
          color: $font-color-white;

        }
      }
    }
  }
  .Group-List{
    background-color: $Group-List-background;
    color: $font-color-white;
    font-weight: bold;
    height: calc(100% - 100px);
    padding: 20px 20px 0 20px;
    &__Name{
      font-size: 15px;
      margin-bottom: 5px;
      color: $palette-trueWhite;
      text-decoration: none;
    }
    &__Message{
      font-size: 11px;
      margin-bottom: 40px;
      color: $palette-trueWhite;
    }
  }
}

.Main-Chat{
  height: 100%;
  width: calc(100% - 300px);
  .RightTopItems{
    background-color: $RightTopItems-background;
    height: 99px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__GroupInfo{
      &__Name{
        color: $font-color-black;
        font-size: 20px;
        padding: 35px 0 15px 0;
      }
      &__Member{
        color: #999999;
        font-size: 12px;
  
      }
    }

    &__Edit{
      color: $palette-lightBlue;
      font-size: 16px;
      padding: 8px 20px;
      vertical-align: middle;
      border: 2px solid $palette-lightBlue;
      cursor: pointer;
    }
  }
  .ChatRoom{
    background-color: $ChatRoom-background;
    height: calc(100% - 190px);
    padding-top: 35px;
    padding-left: 40px;
    &__Info{
      padding-bottom: 12px;
      display: flex;
      &__UserName{
        color: $font-color-black;
        font-size: 16px;
        font-weight: bold;
      }
      &__Timestamp{
        padding-left: 10px;
        color: #999999;
        font-size: 12px;
      }
    }
    &__Message{
      color: #434a54;
      font-size: 14px;
      padding-bottom: 46px;

    }
  }
  .BottomItems{
    background-color: $BottomItems-background;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    &__MessageForm{
      background-color: $BottomItems__MessageForm-background;
      height: 50px;
      vertical-align: middle;
      width: calc(100% - 100px);
      position: relative;
      
      &__input{
        width: 100%;
        height: 100%;
        border: none;
        padding: 0 10px;
      }
      &__image{
        font-size: 1.6rem;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;

        input{
          display: none;
        }
      }
    }
    &__Send{
      width: 100px;
      height: 50px;
      background-color: $palette-lightBlue;
      color: $font-color-white;
      text-align: center;
      line-height: 50px;
      margin-left: 15px;

    }
  }
}
